{% extends "base.html" %}

{% block right-column %}
    {% include "right-column.html" %}
{% endblock %}

{% block content %}
    {% load static %}
    <p class="tag-for-search">
        <a href="{% url 'index' %}" style="color: black">New questions</a> <a href="{% url 'hot' %}"
                                                                              style="color: black">Best questions</a>
    </p>

    <div id='thread'>
        {% for item in objects %}
            <div class="post" id="post_id-{{ item.id }}">
                <div class="row question-answer">
                    <div class="col-xs-8 col-sm-2 col-picture">
                        <img src="{{ MEDIA_URL }}/{{ item.author.avatar }}" alt="user_avatar" height="50" width="50"
                             class="img-rounded">
                    </div>
                    <div class="col-xs-4 col-sm-10 col-question">
                        <dl>
                            <dt class="headlines-answer-question">
                                <a id="title" href="{% url 'question' item.id %}">{{ item.title }}</a>
                            </dt>
                            <dd>
                                <p id='post-text'>{{ item.text }}</p>
                            </dd>
                        </dl>

                        <div class="row tags-like-dislike">
                            <div class="col-xs-8 col-sm-6 like-dislike">
                                <div class="main-answers-and-tags">
                                    <a  id="number_answers" href="{% url 'question' item.id %}">Answers {{ item.number_answers }}</a>
                                    {% if item.tags %}
                                        <span class="tags">Tags:</span>
                                        {% for tag in item.tags %}
                                            <a href="{% url 'tag' tag.name %}">{{ tag.name }}</a>
                                        {% endfor %}
                                    {% else %}
                                        <span class="tags">Tags: no</span>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-xs-8 col-sm-6 like-dislike">
                                <div class="questions-list-btn-group btn-group">
                                    {% csrf_token %}
                                    <a class="js-vote" href="#" data-qid="{{ item.id }}" data-vote="dec"><i
                                            class="btn btn-link btn-sm"><img src="{% static "/img/dislike.png" %}"
                                                                             alt="Dislike icons"
                                                                             height="18" width="18" class="img-rounded"></i></a>
                                    {% if item.likes >= 0 %}
                                        <a id="score" style="status: disabled; color: #00FF00">{{ item.likes }}</a>
                                    {% else %}
                                        <a id="score" style="status: disabled; color: red">{{ item.likes }}</a>
                                    {% endif %}

                                    <a class="js-vote" href="#" data-qid="{{ item.id }}" data-vote="inc"><i
                                            class="btn btn-link btn-sm"><img src="{% static "/img/like.png" %}"
                                                                             alt="Dislike icons" height="18"
                                                                             width="18" class="img-rounded"></i></a>

                                    <!--button class="btn btn-link btn-sm"><img src="{ static "/img/dislike.png" %}"
                                                                             alt="Dislike icons"
                                                                             height="18" width="18" class="img-rounded">
                                    </button>
                                    <button class="btn btn-link btn-sm green-mark count-like"
                                            disabled="disabled">{ item.likes }}</button>
                                    <button class="btn btn-link btn-sm"><img src="{ static "/img/like.png" %}"
                                                                             alt="Dislike icons" height="18"
                                                                             width="18" class="img-rounded"></button-->
                                </div>
                            </div>
                        </div><!--/.tags and like/dislike -->
                    </div>
                </div> <!--/.question -->
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block js %}
    <script src="{% static "/js/csrf.js" %}"></script>
    <script>
        (function () {
            $('.js-vote').on('click', function () {
                var $this = $(this);
                var qid = $this.data('qid');
                var vote = $this.data('vote');
                console.log('qid: ' + qid + " vote: " + vote);
                $.post('/vote/', {
                    qid: qid,
                    vote: vote
                }).done(function (data) {
                    console.log(data);
                });
                return false;
            })
        })();
    </script>
    <script src="{% static "/js/scroll.js" %}"></script>
{% endblock %}



