{% extends "base.html" %}

{% block right-column %}
    {% include "right-column.html" %}
{% endblock %}

{% load static %}

{% block content %}
    <div class="main-question">
        <div class="row">
            <div class="col-xs-8 col-sm-1" style="padding: 0px; margin-top: 3px">
                <img src="{{ MEDIA_URL }}/{{ question.author.avatar }}" alt="user_avatar" height="100" width="100"
                     class="img-thumbnail">
            </div>

            <div class="col-xs-4 col-sm-11" style="padding-left: 10px; margin-left: 0px; padding-right: 0px;">
                <dl>
                    <dt class="headlines-answer-question">
                        <a href="{% url 'question' question.id %}"> {{ question.title }} </a>
                    </dt>
                    <dd>
                        {{ question.text }}
                    </dd>
                </dl>

                <div class="row" style="margin-top: 20px; margin-bottom: 10px">
                    <div class="col-xs-8 col-sm-6">
                        <div class="main-answers-and-tags">
                            {% if question.tags %}
                                <span class="tags">Tags:</span>
                                {% for tag in question.tags %}
                                    <a href="{% url 'tag' tag.name %}">{{ tag.name }}</a>
                                {% endfor %}
                            {% else %}
                                <span class="tags">Tags: no</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-xs-8 col-sm-6">
                        <div class="main-btn-group btn-group">
                            <button class="btn btn-link btn-sm"><img src="{% static "/img/dislike.png" %}"
                                                                     alt="Dislike icons"
                                                                     height="18" width="18" class="img-rounded">
                            </button>
                            <button class="btn btn-link btn-sm" disabled="disabled"
                                    style="color: #00FF00; font-size: 12pt;">{{ question.likes }}
                            </button>
                            <button class="btn btn-link btn-sm"><img src="{% static "/img/like.png" %}" alt="Like icons"
                                                                     height="18"
                                                                     width="18" class="img-rounded"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!--main-question -->

    <div id="thread-answer">
        {% for item in answers %}
            <div id="answer_id-{{ item.id }}">
                <div class="row question-answer">
                    <div class="col-xs-8 col-sm-2"
                         style="margin-top: 3px; margin-right: 0; padding-left: 10px; width: 70px">
                        <img src="{{ MEDIA_URL }}/{{ item.author.avatar }}" alt="answer1" height="70" width="70"
                             class="img-thumbnail">
                    </div>
                    <div class="col-xs-4 col-sm-10" style="padding-left: 0px; margin-left: 0px; padding-right: 0px;">
                        <dl>
                            <dt>
                                <p id="answer-create_date">{{ item.create_date }}</p>
                            </dt>
                            <dd>
                                <p id="answer-text">{{ item.text }}</p>
                            </dd>
                        </dl>

                        <div class="row" style="margin-top: 20px; margin-bottom: 10px">
                            <div class="col-xs-8 col-sm-6">
                                <div class="main-answers-and-tags">
                                    <div class="checkbox check-box">
                                        <label>
                                            <input type="checkbox"> Correct!
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-8 col-sm-6" style="padding-right: 0px">
                                <div class="question-answer-btn-group btn-group">
                                </div>
                            </div>
                        </div><!--/.check box and like/dislike -->
                    </div>
                </div> <!--/.answer -->
            </div>
        {% endfor %}
    </div>

    {% if user_logged_in %}
        <!--form method="POST" enctype="multipart/form-data">
            { csrf_token %}
            <div class="row user-answer">
                <div class="form-group">
                    { form.answer }}
                </div>
            </div> <!--/.user answer -->
        <!--/form-->
        <div class="row user-answer">
            <div class="form-group">
                <textarea name="answer" rows="3" id="textQuestion" required="" placeholder="Answer" class="form-control"
                          cols="40"></textarea>
            </div>

            <button id="add-answer" data-qid="{{ question.id }}" data-uid="{{ user.id }}"
                    class="btn btn-default button-answer">Answer
            </button>
        </div>
    {% endif %}
{% endblock %}


{% block pagination %}
    {% include "paginator.html" %}
{% endblock %}

{% block js %}
    <script src="{% static "/js/csrf.js" %}"></script>
    <script>
        (function () {
            $('#add-answer').on('click', function () {
                var $this = $(this);
                var qid = $this.data('qid');
                var uid = $this.data('uid');
                console.log('qid: ' + qid, 'uid: ' + uid, 'text: ' + $('#textQuestion').val());

                $.post('/addanswer/', {
                    text: $('#textQuestion').val(),
                    user: uid,
                    question: qid
                }
                ).done(function (data) {
                    console.log(data);
                    var inf = data;

                    var $oldanswers = $('#answer_id-129').clone();
                    $oldanswers.attr('id', 'answer_id-' + inf.id);
                    $oldanswers.find('#answer-create_date').text(inf.createdate);
                    $oldanswers.find('#answer-text').text($('#textQuestion').val());
                    $('#thread-answer').append($oldanswers);
                    $('#textQuestion').val(' ');
                });
            })
        })();
    </script>
{% endblock %}